:root {

	/* Neutrals */

	--limestone-cliff: #bcc3c4;
	--pebble-grey: #9ca4a6;
	--tidal-rock: #696f70;
	--oyster-shell: #4a4f50;
	--offshore-storm: #404343;
	--ironstone: #2b2f2f;

	/* Lights */

	--white: #ffffff;
	--cuttle-shell: #fbf6eb;
	--light-sand: #f8f1e1;
	--sand-base: #f2e6cb;
	--sand-yellow: #e4d3ab;
	--driftwood: #B29E8E;
	--earth-brown: #8B6F4F;
	--dark-soil: #3B2C20;

	/* Blues */

	--distant-mountain: #333F4F;
	--clear-skies: #446EA0;
	--deep-ocean: #42647F;
	--shallows: #819ba6;
	--seafoam: #DEE9ED;

	/* Greens */

	--kelp-forest: #272815;
	--norfolk-pine: #2A3E09;
	--eucalyptus-grove: #556a13;
	--banksia: #595E30;
	--saltbrush: #849358;

	/* Highlight */

	--sunset-coral: #DC758F;
	--anemone: #753c8a;
	--shipwreck-rust: #a72607;
	--amber-shell: #d98324;
	--sponge: #fbbc35;

}

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
}

.workspace-tab-header.is-active::before,
.workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}